@media screen and (max-width: 1680px) {
    .aboutWrap .aboutContent {
        color: #fff;
        padding-left: 10%;
        padding-top: 10%;
    }

    .heroSlick {
        height: calc(100vh - 136px);
    }

    .customBtn {
        padding: 18px 30px;
    }
    .chevron {
        width: 16px;
        height: 16px;
    }

    .contactRow .customBtn {
        padding-left: 55px;
        padding-right: 55px;
    }

}

@media screen and (max-width: 1570px) {
    .heroSlick {
        height: calc(100vh - 121px);
    }
}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1370px) {
    .heroSlick {
        height: calc(100vh - 105px);
    }

    .customBtn {
        padding: 14px 20px;
        border-width: 1px;
        font-size: 16px;
    }
    .chevron.__top {
        transform: rotate(45deg) translate(2px, 2px);
    }
    
    .chevron {
        width: 13px;
        height: 13px;
    }
    .chevron.__left {
        transform: rotate(45deg) translate(1px, -1px);
    }
    .chevron.__right {
        transform: rotate(45deg) translate(-2px, 2px);
    }
    
}

// Ipad pro 
// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .heroSlick .heroImg img {
        object-fit: cover;
    }
    .contactRow .customBtn {
        padding-left: 40px;
        padding-right: 40px;
    }
    .aboutWrap .aboutContent {
        padding-left: 30px;
        padding-top: 30px;
    }
    .statWrap .statBox img{
        width: 50px;
    }
    .statWrap .statBox {
        padding: 0 16px;
    }
    .testimonailWrap {
        grid-template-columns: 1fr;
    }
}

//  ipad 

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .aboutWrap .aboutContent p {
        margin: 20px 0;
    }
    .aboutWrap .aboutInner {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .aboutWrap .aboutImg img {
        position: unset;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .aboutWrap .aboutImg {
   grid-row: 2;
    }
    .aboutWrap .aboutContent {
        padding-left: 0;
        padding-top: 50px;
    }
    .statWrap .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 0;
    }
    .servicesWrap h2 {
        margin-bottom: 30px;
    }
    .serviceBox h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .testimonailWrap .tesimonialBox {
        margin-top: 20px;
        gap: 10px;
        padding: 0 10px;
    }
    .contactRow .contactRowInner {
        grid-template-columns: 1fr 1fr;
        gap: 20px 0;
    }
    .contactRow .customBtn {
        grid-column: 1 / 3;
        margin: auto;
    }
    .heroSlick .contentBlock {
        width: 80%;
    }
    .navWrap .navbar-brand img {
        object-fit: contain;
    }
}

//  mobile 
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    .scrollTop {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 20px;
    }
    .navWrap .customBtn {
        font-size: 13px;
        padding: 12px 15px;
    }
    .heroWrap .slick-arrow .chevron {
        width: 15px;
        height: 15px;
    }
    .heroWrap .slick-arrow.slick-prev-hero {
        left: 10px;
    }
    .heroWrap .slick-arrow.slick-next-hero {
        right: 10px;
    }
    .heroSlick .contentBlock {
        width: 90%;
        gap: 10px;
    }
    .aboutWrap .aboutContent p {
        margin: 15px 0;
    }
    .statWrap .container {
        grid-template-columns: 1fr;
        gap: 16px 0;
    }
    .statWrap .statBox h3 {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .statWrap .statBox {
      padding-bottom: 16px;
      padding-right: 0;
      padding-left: 0;
        border-right: 0px;
        border-bottom: 2px dashed #E6E6E6;
    }
    .statWrap .statBox:first-child {
        padding-right: 0;
    }
    .contactRow .contactRowInner {
        grid-template-columns: 1fr;
        gap: 16px 0;
    }
    .contactRow p {
        line-height: 1.5;
        grid-column: 1 / 3;
    }
    .contactRow a.contactItem p {
        grid-column: 2 / 3;
    }
    .contactRow a.contactItem .icon {
        width: 60px;
        height: 60px;
    }
    .contactRow a.contactItem {
        gap: 0px;
    }
    .navWrap .navbar {
        padding: 3px 0;
    }
}