@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
.primaryFont {
  font-family: "Crimson Text";
}

.primaryColor {
  color: #AF0005;
}

.primaryColorBg {
  background-color: #AF0005;
}

.secondaryColor {
  color: #1F2322;
}

.secondaryColorBg {
  background-color: #1F2322;
}

.secondaryColor__ {
  color: #E6E6E6;
}

.secondaryColorBg__ {
  background-color: #E6E6E6;
}

.blackColor {
  color: #000;
}

.blackColorBg {
  background-color: #000;
}

.whiteColor {
  color: #fff;
}

.whiteColorBg {
  background-color: #fff;
}

@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/CrimsonText-Bold.eot");
  src: url("../fonts/CrimsonText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CrimsonText-Bold.woff2") format("woff2"), url("../fonts/CrimsonText-Bold.woff") format("woff"), url("../fonts/CrimsonText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/CrimsonText-Italic.eot");
  src: url("../fonts/CrimsonText-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/CrimsonText-Italic.woff2") format("woff2"), url("../fonts/CrimsonText-Italic.woff") format("woff"), url("../fonts/CrimsonText-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/CrimsonText-BoldItalic.eot");
  src: url("../fonts/CrimsonText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CrimsonText-BoldItalic.woff2") format("woff2"), url("../fonts/CrimsonText-BoldItalic.woff") format("woff"), url("../fonts/CrimsonText-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/CrimsonText-SemiBoldItalic.eot");
  src: url("../fonts/CrimsonText-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CrimsonText-SemiBoldItalic.woff2") format("woff2"), url("../fonts/CrimsonText-SemiBoldItalic.woff") format("woff"), url("../fonts/CrimsonText-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/CrimsonText-SemiBold.eot");
  src: url("../fonts/CrimsonText-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/CrimsonText-SemiBold.woff2") format("woff2"), url("../fonts/CrimsonText-SemiBold.woff") format("woff"), url("../fonts/CrimsonText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/CrimsonText-Regular.eot");
  src: url("../fonts/CrimsonText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CrimsonText-Regular.woff2") format("woff2"), url("../fonts/CrimsonText-Regular.woff") format("woff"), url("../fonts/CrimsonText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Crimson Text";
  font-size: var(--fs16);
  line-height: 1.2;
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html.__html {
  overflow: hidden;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus-visible {
  outline: none;
}

a:hover {
  color: unset;
}

input:focus-visible {
  outline: none;
}

ul {
  list-style: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
  box-shadow: none;
}

.accordion-button {
  background-color: unset !important;
}
.accordion-button:focus-visible {
  outline: none;
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: unset;
}

.accordion-item {
  background-color: unset;
  border: 0;
  border-radius: 0;
}

.nav.nav-tabs {
  border: 0;
}
.nav.nav-tabs .nav-link {
  border: 0;
  color: inherit;
  padding: 0;
}
.nav.nav-tabs .nav-link.active {
  outline: none;
  border: 0;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.flex_align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 90%;
  width: 100%;
}

.fw700 {
  font-weight: 700 !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw300 {
  font-weight: 300 !important;
}

.customBtn {
  width: fit-content;
  padding: 20px 40px;
  line-height: 1;
  font-size: var(--fs30);
  font-weight: 500;
  border: 2px solid transparent;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease !important;
  text-transform: uppercase;
}

.slick-track {
  display: flex;
}

.tickIcon {
  border-bottom: 4px solid #1F2322;
  border-right: 4px solid #1F2322;
  transform: rotate(45deg);
  width: 10px;
  height: 18px;
  display: inline-block;
}

@media screen and (max-width: 1370px) {
  .tickIcon {
    border-bottom: 3px solid #fcdf61;
    border-right: 3px solid #fcdf61;
    width: 8px;
    height: 15px;
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 100%;
  }
}
:root {
  --fs75: 75px;
  --fs65: 65px;
  --fs50: 50px;
  --fs40: 40px;
  --fs30: 30px;
  --fs22: 22px;
  --fs18: 18px;
  --fs16: 16px;
  --p100: 100px;
  --m50: 50px;
}

.fs75 {
  font-size: var(--fs75);
}

.fs65 {
  font-size: var(--fs65);
}

.fs50 {
  font-size: var(--fs50);
}

.fs40 {
  font-size: var(--fs40);
}

.fs30 {
  font-size: var(--fs30);
}

.fs22 {
  font-size: var(--fs22);
}

.fs18 {
  font-size: var(--fs18);
}

.fs16 {
  font-size: var(--fs16);
}

.py100 {
  padding-top: var(--p100);
  padding-bottom: var(--p100);
}

.pt100 {
  padding-top: var(--p100);
}

.pb100 {
  padding-bottom: var(--p100);
}

.my50 {
  margin-top: var(--m50);
  margin-bottom: var(--m50);
}

.mt50 {
  margin-top: var(--m50);
}

.mb50 {
  margin-bottom: var(--m50);
}

h1, h2 {
  font-weight: 700;
}

@media screen and (max-width: 1680px) {
  :root {
    --fs75: 65px;
    --fs65: 50px;
    --fs50: 40px;
    --fs40: 32px;
    --fs30: 24px;
    --fs22: 18px;
    --fs18: 16px;
    --fs16: 15px;
    --p100: 80px;
    --m50: 40px;
  }
}
@media screen and (max-width: 1570px) {
  :root {
    --fs75: 60px;
    --fs65: 45px;
    --fs50: 35px;
    --fs40: 30px;
    --fs30: 22px;
    --fs22: 17px;
  }
}
@media screen and (max-width: 1370px) {
  :root {
    --fs65: 40px;
    --fs50: 30px;
    --fs40: 22px;
    --fs30: 20px;
    --fs22: 16px;
    --fs18: 15px;
    --fs16: 14px;
    --p100: 60px;
    --m50: 20px;
  }
}
@media screen and (max-width: 1198.99px) {
  :root {
    --fs65: 35px;
    --fs50: 25px;
    --fs40: 20px;
    --fs30: 19px;
    --fs22: 15px;
    --fs18: 14px;
    --fs16: 13px;
    --p100: 50px;
  }
}
@media screen and (max-width: 991px) {
  :root {
    --fs75: 50px;
  }
}
@media screen and (max-width: 575px) {
  :root {
    --fs75: 35px;
    --fs65: 30px;
    --fs50: 23px;
    --fs40: 19px;
    --fs30: 16px;
  }
}
.topBar {
  background-color: #E6E6E6;
  height: 50px;
}
.topBar span {
  font-size: 14px;
  display: block;
  color: #1F2322;
}
.topBar span a {
  color: inherit;
}

.contactBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contactBox + .contactBox {
  margin-left: 40px;
}
.contactBox i {
  color: #AF0005;
}

.socialIcon {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socialIcon i {
  color: #1F2322;
}

@media screen and (max-width: 1680px) {
  .topBar {
    height: 36px;
  }
}
@media screen and (max-width: 1370px) {
  .topBar .contactBox + .contactBox {
    margin-left: 24px;
  }
  .socialIcon {
    width: 80px;
  }
  .topBar span {
    font-size: 13px;
  }
  .topBar {
    height: 30px;
  }
}
@media screen and (max-width: 991px) {
  .topBar span {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .topBar span {
    display: none;
  }
}
.navWrap {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  top: 0;
}
.navWrap.scrolled {
  transition: all 0.6s ease;
  position: fixed;
  animation: navTop 1s ease;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 3;
}
.navWrap .navbar {
  padding: 10px 0;
  height: 120px;
}
.navWrap .navbar .navbar-nav {
  gap: 20px;
  margin-left: 50px;
}
.navWrap .navbar .navbar-toggler {
  padding: 0;
  border: 0;
}
.navWrap .navbar .navbar-toggler:focus {
  box-shadow: none;
  border: 0;
  outline: 0;
}
.navWrap .navbar .navbar-toggler:focus-visible {
  box-shadow: none;
  border: 0;
  outline: 0;
}
.navWrap .navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}
.navWrap .navbar-brand img {
  height: 100%;
}
.navWrap .navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
  font-weight: 600;
  color: #000;
  font-size: var(--fs18);
}
.navWrap .navbar-expand-lg .navbar-nav .nav-link.active {
  color: #AF0005;
}
.navWrap .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #AF0005;
}
.navWrap .hasDrop {
  position: relative;
}
.navWrap .hasDrop .hasDropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  min-width: 350px;
  left: 50%;
  top: 150%;
  transition: all 0.6s ease;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  transform: translateX(-50%);
}
.navWrap .hasDrop .hasDropdown li {
  border-bottom: 1px solid #edeff1;
}
.navWrap .hasDrop .hasDropdown li:last-child {
  border-bottom: 0;
}
.navWrap .hasDrop .hasDropdown li a {
  padding: 14px 30px;
  display: block;
  color: #1F2322;
}
.navWrap .hasDrop .hasDropdown li a i {
  opacity: 0;
  transition: all 0.3s ease;
  width: 0;
  visibility: hidden;
  font-size: 16px;
}
.navWrap .hasDrop .hasDropdown li a:hover {
  color: #AF0005;
}
.navWrap .hasDrop .hasDropdown li a:hover i {
  opacity: 1;
  width: 16px;
  visibility: visible;
  color: #AF0005;
}
.navWrap .hasDrop:hover .hasDropdown {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.navWrap .customBtn {
  background-color: #AF0005;
  color: #fff;
}
.navWrap .customBtn:hover {
  background-color: unset;
  border-color: #AF0005;
  color: #AF0005;
}
.navWrap .navbtn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navWrap .navbtn i {
  font-size: 22px;
  color: #1F2322;
}

@keyframes navTop {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
@media screen and (max-width: 1680px) {
  .navWrap .navbar {
    height: 100px;
  }
}
@media screen and (max-width: 1570px) {
  .navWrap .navbar {
    height: 85px;
  }
  .navWrap .hasDrop .hasDropdown {
    min-width: 320px;
  }
  .navWrap .hasDrop .hasDropdown li a {
    padding: 14px 20px;
  }
}
@media screen and (max-width: 1370px) {
  .navWrap .navbar {
    height: 75px;
    padding: 8px 0;
  }
  .navWrap .navbar-expand-lg .navbar-nav .nav-link {
    padding: 14px;
  }
  .navWrap .navbar .navbar-nav {
    gap: 10px;
  }
  .navWrap .hasDrop .hasDropdown {
    min-width: 285px;
  }
  .navWrap .hasDrop .hasDropdown li a {
    padding: 10px 16px;
  }
}
@media screen and (max-width: 991px) {
  .navWrap {
    z-index: auto;
  }
  .navWrap .navbar {
    height: auto;
    flex-wrap: nowrap;
  }
  .navWrap .navbar-brand {
    height: 59px;
    display: inline-block;
  }
  .navWrap .navbar-collapse {
    position: fixed;
    box-shadow: 0 15px 30px rgba(85, 85, 85, 0.16);
    width: 300px;
    background: #E6E6E6;
    height: 100% !important;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 3;
  }
  .navWrap .navbar-collapse.show {
    transform: translateX(0);
  }
  .navWrap .navbar .navbar-nav {
    margin: 20px 0 !important;
    width: 100%;
    height: auto;
  }
  .navWrap .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 0;
  }
  .topBar .contactBox + .contactBox {
    margin-left: 16px;
  }
  .contactBox {
    gap: 6px;
  }
  .socialIcon {
    width: 65px;
  }
}
@media screen and (max-width: 575px) {
  .navWrap .navbar-collapse {
    width: 240px;
  }
}
footer {
  background: #AF0005;
}

.footerBtm {
  background-color: #E6E6E6;
}

.footerBox {
  max-width: 620px;
  width: fit-content;
  color: #fff;
}
.footerBox p {
  line-height: 1.5;
  color: inherit;
}
.footerBox .phoneNumber {
  color: #E6E6E6;
  font-size: var(--fs40);
  font-weight: 700;
  display: block;
  margin: 30px 0;
}
.footerBox .socialIcon {
  gap: 16px;
  width: fit-content;
}
.footerBox .socialIcon a {
  width: 45px;
  height: 45px;
  background-color: #E6E6E6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.footerBox .socialIcon a i {
  font-size: 16px;
}
.footerBox .socialIcon a:hover {
  border-radius: 50%;
  background-color: #1F2322;
}
.footerBox .socialIcon a:hover i {
  color: #E6E6E6;
}
.footerBox .footerLogo {
  max-width: 200px;
  margin-bottom: 30px;
  height: 140px;
  background-color: #fff;
  width: fit-content;
  border-radius: 3px;
  padding: 5px;
}
.footerBox .footerLogo img {
  height: 100%;
}
.footerBox li {
  margin-bottom: 12px;
}
.footerBox li:last-child {
  margin-bottom: 0;
}
.footerBox li a {
  display: grid;
  grid-auto-columns: 18px 1fr;
  color: #fff;
  gap: 16px;
  align-items: center;
  line-height: 1.5;
  font-size: var(--fs22);
  transition: all 0.6s ease;
}
.footerBox li a:hover span {
  color: #1F2322;
}
.footerBox li i {
  color: #fff;
}
.footerBox h3 {
  margin-bottom: 20px;
  font-weight: 600;
}
.footerBox span.tickIcon {
  width: 12px;
  height: 20px;
  grid-column: 1;
}
.footerBox span {
  grid-column: 2;
  transition: all 0.6s ease;
}

.footerBtm {
  padding: 40px 0;
  margin-top: 60px;
}
.footerBtm p {
  font-weight: 500;
}

@media screen and (max-width: 1680px) {
  .footerBtm {
    padding: 30px 0;
    margin-top: 45px;
  }
  .footerBox {
    max-width: 500px;
  }
  .footerBox span.tickIcon {
    width: 10px;
    height: 18px;
  }
  .footerBox li a {
    gap: 10px;
  }
}
@media screen and (max-width: 1370px) {
  .footerBox {
    max-width: 430px;
  }
}
@media screen and (max-width: 1198.99px) {
  .footerBox {
    max-width: 360px;
  }
}
@media screen and (max-width: 991px) {
  .footerBtm {
    padding: 20px 0;
    margin-top: 0;
  }
  .footerBox {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .footerBox h3 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 575px) {
  .footerBox .footerLogo {
    max-width: 150px;
    margin-bottom: 16px;
  }
}
.scrollTop {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
  right: 30px;
  bottom: 30px;
  z-index: 9;
  cursor: pointer;
  border: 2px solid #AF0005;
  box-shadow: 0 15px 30px rgba(85, 85, 85, 0.16);
}
.scrollTop.scrolled {
  opacity: 1;
  visibility: visible;
}
.scrollTop i {
  font-size: 22px;
  color: #AF0005;
}

.chevron {
  border: 3px solid transparent;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.chevron.__top {
  border-left-color: #1F2322;
  border-top-color: #1F2322;
  transform: rotate(45deg) translate(3px, 3px);
}
.chevron.__bottom {
  border-left-color: #1F2322;
  border-bottom-color: #1F2322;
  transform: rotate(45deg) translate(3px, 3px);
}
.chevron.__left {
  border-left-color: #1F2322;
  border-bottom-color: #1F2322;
  transform: rotate(45deg) translate(3px, -3px);
}
.chevron.__right {
  border-right-color: #1F2322;
  border-top-color: #1F2322;
  transform: rotate(45deg) translate(-3px, 3px);
}

.crossIcon {
  color: rgba(33, 37, 41, 0.75);
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.crossIcon i {
  font-size: inherit;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 1000vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
  z-index: 3;
}
.overlay.__show {
  opacity: 1;
  visibility: visible;
}

.heroWrap {
  position: relative;
  z-index: 1;
}
.heroWrap .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.heroWrap .slick-arrow .chevron {
  width: 20px;
  height: 20px;
}
.heroWrap .slick-arrow .chevron.__left {
  border-left-color: #fff;
  border-bottom-color: #fff;
}
.heroWrap .slick-arrow .chevron.__right {
  border-right-color: #fff;
  border-top-color: #fff;
}
.heroWrap .slick-arrow.slick-prev-hero {
  left: 25px;
}
.heroWrap .slick-arrow.slick-next-hero {
  right: 25px;
}

.heroSlick {
  height: calc(100vh - 170px);
}
.heroSlick .contentBlock {
  transition: transform 0.6s;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
  width: 75%;
  gap: 20px;
}
.heroSlick .contentBlock h2,
.heroSlick .contentBlock p,
.heroSlick .contentBlock .customBtn {
  transform: unset;
  transition: transform 0.6s;
  line-height: 1.5;
}
.heroSlick .contentBlock._block {
  opacity: 0;
  transition: transform 0.6s;
}
.heroSlick .contentBlock._block h2 {
  transform: translateY(-40px);
}
.heroSlick .contentBlock._block p {
  transform: translateY(30px);
}
.heroSlick .contentBlock._block .customBtn {
  transform: translateY(50px);
}
.heroSlick .heroImg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.heroSlick .heroImg img {
  height: 100%;
  width: 100%;
}
.heroSlick .heroImg::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.heroSlick .slick-list,
.heroSlick .slick-track {
  height: 100%;
}
.heroSlick .customBtn {
  border-color: #fff;
  background-color: unset;
  color: #fff;
  font-weight: 600;
}
.heroSlick .customBtn:hover {
  background-color: #fff;
  color: #AF0005;
}

.aboutWrap {
  position: relative;
  z-index: 1;
  background-color: #AF0005;
}
.aboutWrap .aboutImg img {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.aboutWrap .aboutContent {
  color: #fff;
  padding-left: 15%;
  padding-top: 15%;
}
.aboutWrap .aboutContent .titleDot {
  align-items: start;
}
.aboutWrap .aboutContent p {
  margin: 30px 0;
}
.aboutWrap .aboutInner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.aboutWrap .customBtn {
  border-color: #E6E6E6;
  color: #E6E6E6;
  font-weight: 600;
}
.aboutWrap .customBtn:hover {
  background-color: #fff;
  color: #AF0005;
}

.statWrap {
  background-color: #AF0005;
}
.statWrap .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.statWrap .statBox {
  border-right: 2px dashed #E6E6E6;
  padding: 0 30px;
}
.statWrap .statBox h3 {
  margin-top: 30px;
  margin-bottom: 16px;
  font-size: var(--fs50);
  color: #fff;
  font-weight: 600;
}
.statWrap .statBox:first-child {
  padding-left: 0;
}
.statWrap .statBox:last-child {
  border: 0;
}
.statWrap .statBox p {
  color: #E6E6E6;
  line-height: 1.5;
  font-size: var(--fs22);
}

.titleDot {
  width: fit-content;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-flex;
  line-height: 1.5;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 8px;
}
.titleDot img {
  width: 60px;
}

.servicesWrap {
  text-align: center;
  background-image: url(../img/serviceBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.servicesWrap .slick-list {
  padding: 0 !important;
}
.servicesWrap h2 {
  margin-bottom: 50px;
  font-size: var(--fs65);
}

.serviceBox {
  padding: 45px 20px;
  background-color: #fff;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.serviceBox.slick-center {
  background-color: #f6f2ee;
}
.serviceBox .serviceImg {
  padding: 30px;
  border: 2px dashed rgba(69, 68, 86, 0.2);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.serviceBox .serviceImg img {
  aspect-ratio: auto 189/189;
  border-radius: 50%;
  transition: 0.5s;
}
.serviceBox .serviceImg::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 50%;
}
.serviceBox .serviceImg:hover img {
  transform: rotate(10deg);
}
.serviceBox .serviceImg:hover::before {
  animation: circle 0.95s;
}
.serviceBox h3 {
  margin-top: 35px;
  font-size: var(--fs50);
  line-height: 1.3;
  margin-bottom: 20px;
}
.serviceBox p {
  font-size: var(--fs30);
  line-height: 1.5;
  font-family: 'DM Sans", sans-serif';
  font-weight: 400;
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.contactRow {
  background-color: #AF0005;
  color: #fff;
}
.contactRow p {
  line-height: 1.8;
}
.contactRow a.contactItem {
  color: inherit;
  font-size: var(--fs22);
  line-height: 1.3;
  display: grid;
  grid-template-columns: 76px 1fr;
  gap: 0px 25px;
}
.contactRow a.contactItem p {
  font-size: var(--fs30);
  line-height: 1.3;
}
.contactRow a.contactItem span {
  grid-column: 2;
  font-size: var(--fs50);
}
.contactRow a.contactItem .icon {
  background-color: #1F2322;
  width: 76px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  grid-row: 1/3;
  position: relative;
  z-index: 1;
}
.contactRow a.contactItem .icon i {
  color: #fff;
  font-size: 26px;
}
.contactRow a.contactItem .icon:hover::before {
  opacity: 1;
  transform: scale(1.1);
}
.contactRow a.contactItem .icon:hover i {
  color: #AF0005;
}
.contactRow a.contactItem .icon::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: -1;
  border-radius: 50%;
  transition: 0.5s;
  opacity: 0;
  transform: scale(0);
}
.contactRow .contactRowInner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.contactRow .customBtn {
  padding-left: 70px;
  padding-right: 70px;
  border-color: #fff;
  color: #fff;
  margin-left: auto;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contactRow .customBtn:hover {
  background-color: #fff;
  color: #AF0005;
}

.testimonailWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.testimonailWrap .testimonialImg {
  width: 100%;
  height: 100%;
}
.testimonailWrap .testimonialImg img {
  height: 100%;
  width: 100%;
}
.testimonailWrap h2 {
  font-size: var(--fs50);
  margin-bottom: 10px;
}
.testimonailWrap .testimonialContent {
  width: 100%;
  overflow: hidden;
  padding: 40px 20px;
  text-align: center;
}
.testimonailWrap .testimonialContent p {
  font-weight: 500;
}
.testimonailWrap .titleDot img {
  width: 48px;
}
.testimonailWrap .tesimonialBox {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  gap: 15px;
  padding: 0 15px;
}
.testimonailWrap .tesimonialBox p {
  font-size: var(--fs18);
}
.testimonailWrap .tesimonialBox .quoteIcon {
  width: 40px;
}
.testimonailWrap .tesimonialBox .profileIcon {
  width: 62px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.testimonailWrap .tesimonialBox h3 {
  font-size: var(--fs22);
  font-weight: 700;
}
.testimonailWrap .slick-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.testimonailWrap .slick-dots li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #1F2322;
  cursor: pointer;
}
.testimonailWrap .slick-dots li button {
  font-size: 0;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: unset;
  margin: 0;
  display: flex;
}
.testimonailWrap .slick-dots li.slick-active {
  background-color: #AF0005;
  border-color: #AF0005;
}

@media screen and (max-width: 1680px) {
  .aboutWrap .aboutContent {
    color: #fff;
    padding-left: 10%;
    padding-top: 10%;
  }
  .heroSlick {
    height: calc(100vh - 136px);
  }
  .customBtn {
    padding: 18px 30px;
  }
  .chevron {
    width: 16px;
    height: 16px;
  }
  .contactRow .customBtn {
    padding-left: 55px;
    padding-right: 55px;
  }
}
@media screen and (max-width: 1570px) {
  .heroSlick {
    height: calc(100vh - 121px);
  }
}
@media screen and (max-width: 1370px) {
  .heroSlick {
    height: calc(100vh - 105px);
  }
  .customBtn {
    padding: 14px 20px;
    border-width: 1px;
    font-size: 16px;
  }
  .chevron.__top {
    transform: rotate(45deg) translate(2px, 2px);
  }
  .chevron {
    width: 13px;
    height: 13px;
  }
  .chevron.__left {
    transform: rotate(45deg) translate(1px, -1px);
  }
  .chevron.__right {
    transform: rotate(45deg) translate(-2px, 2px);
  }
}
@media (max-width: 1199.98px) {
  .heroSlick .heroImg img {
    object-fit: cover;
  }
  .contactRow .customBtn {
    padding-left: 40px;
    padding-right: 40px;
  }
  .aboutWrap .aboutContent {
    padding-left: 30px;
    padding-top: 30px;
  }
  .statWrap .statBox img {
    width: 50px;
  }
  .statWrap .statBox {
    padding: 0 16px;
  }
  .testimonailWrap {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 991.98px) {
  .aboutWrap .aboutContent p {
    margin: 20px 0;
  }
  .aboutWrap .aboutInner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .aboutWrap .aboutImg img {
    position: unset;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .aboutWrap .aboutImg {
    grid-row: 2;
  }
  .aboutWrap .aboutContent {
    padding-left: 0;
    padding-top: 50px;
  }
  .statWrap .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 0;
  }
  .servicesWrap h2 {
    margin-bottom: 30px;
  }
  .serviceBox h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .testimonailWrap .tesimonialBox {
    margin-top: 20px;
    gap: 10px;
    padding: 0 10px;
  }
  .contactRow .contactRowInner {
    grid-template-columns: 1fr 1fr;
    gap: 20px 0;
  }
  .contactRow .customBtn {
    grid-column: 1/3;
    margin: auto;
  }
  .heroSlick .contentBlock {
    width: 80%;
  }
  .navWrap .navbar-brand img {
    object-fit: contain;
  }
}
@media (max-width: 575.98px) {
  .scrollTop {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
  }
  .navWrap .customBtn {
    font-size: 13px;
    padding: 12px 15px;
  }
  .heroWrap .slick-arrow .chevron {
    width: 15px;
    height: 15px;
  }
  .heroWrap .slick-arrow.slick-prev-hero {
    left: 10px;
  }
  .heroWrap .slick-arrow.slick-next-hero {
    right: 10px;
  }
  .heroSlick .contentBlock {
    width: 90%;
    gap: 10px;
  }
  .aboutWrap .aboutContent p {
    margin: 15px 0;
  }
  .statWrap .container {
    grid-template-columns: 1fr;
    gap: 16px 0;
  }
  .statWrap .statBox h3 {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .statWrap .statBox {
    padding-bottom: 16px;
    padding-right: 0;
    padding-left: 0;
    border-right: 0px;
    border-bottom: 2px dashed #E6E6E6;
  }
  .statWrap .statBox:first-child {
    padding-right: 0;
  }
  .contactRow .contactRowInner {
    grid-template-columns: 1fr;
    gap: 16px 0;
  }
  .contactRow p {
    line-height: 1.5;
    grid-column: 1/3;
  }
  .contactRow a.contactItem p {
    grid-column: 2/3;
  }
  .contactRow a.contactItem .icon {
    width: 60px;
    height: 60px;
  }
  .contactRow a.contactItem {
    gap: 0px;
  }
  .navWrap .navbar {
    padding: 3px 0;
  }
}/*# sourceMappingURL=style.css.map */